In [2]:
import pandas as pd

df = pd.read_excel("data/Case_Setup.xlsx")
df.head(5)

,No.,Airfoil_ID,1st digit,2nd digit,3rd digit,4th digit,Re,U,AOA,Ux,Uy,Name,Fx,Fy,Drag,Lift
0,1,Airfoil_01,4.208,5.336,7.291,NaN,2.056675e+06,32.084134,7.513499,31.808662,4.195314,Yusuke,-0.153065,1.268932,0.014174,1.278052
1,2,Airfoil_01,4.208,5.336,7.291,NaN,2.857456e+06,44.576316,2.109211,44.546115,1.640603,Yusuke,-0.017809,0.740816,0.009468,0.740970
2,3,Airfoil_01,4.208,5.336,7.291,NaN,3.267084e+06,50.966515,1.817631,50.940871,1.616572,Yusuke,-0.013435,0.711997,0.009155,0.712065
3,4,Airfoil_01,4.208,5.336,7.291,NaN,5.155418e+06,80.424521,-1.053031,80.410939,-1.478028,Yusuke,0.015327,0.405997,0.007863,0.406210
4,5,Airfoil_01,4.208,5.336,7.291,NaN,4.754682e+06,74.173044,4.210931,73.972813,5.446412,Yusuke,-0.061748,0.970138,0.009654,0.972053

In [4]:
df_NACA4 = df[df['4th digit'].isnull()].reset_index(drop=True)
df_NACA5 = df[~df['4th digit'].isnull()].reset_index(drop=True)
df_NACA4 = df_NACA4.rename(columns = {'1st digit':'M', '2nd digit':'P', '3rd digit':'XX'})
df_NACA5 = df_NACA5.rename(columns = {'1st digit':'L', '2nd digit':'P', '3rd digit':'Q','4th digit':'XX'})
df_NACA4.to_csv('data/df_NACA4.csv',index = False)
df_NACA5.to_csv('data/df_NACA5.csv',index = False)

In [9]:
# AOA を θ [rad] とすると、力の変換は
#   Drag =  Fx * cos(θ) + Fy * sin(θ)
#   Lift = -Fx * sin(θ) + Fy * cos(θ)
# AOA を θ [rad] とすると、速度ベクトルの分解は
#   Ux = U * cos(θ)
#   Uy = U * sin(θ)